@model Domain.Usuario
@{
    Layout = "_Layout";
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h2>
                <strong>Autenticar </strong>
            </h2><br/>
            <form asp-action="Index" method="post">

                <div class="mb-3">
                    <label for="Login" class="form-label">Login</label>
                    <input type="text" asp-for="Login" class="form-control" id="Login" placeholder="">
                    <span asp-validation-for="Login" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="Senha" class="form-label">Senha</label>
                    <input type="text" asp-for="Senha" class="form-control" id="Senha" placeholder="">
                    <span asp-validation-for="Senha" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-info"> Entrar </button>
            </form>
        </div>
    </div>
</div>