@model Domain.OrdemProducao
@{
    Layout = "_Layout";
    ViewData["Title"] = "Atualizar ordem de produção";
}

<h2>Atualizar ordem</h2>

<form method="post" asp-action="AtualizarOrdem">
    <input asp-for="Id" id="Id" hidden="hidden"/>
    <div class="mb-3">
        <label for="Ordem" class="form-label">Ordem</label>
        <input type="text" asp-for="Ordem" class="form-control" id="Ordem" placeholder="" disabled="disabled">
        <span asp-validation-for="Ordem" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Quantidade</label>
        <input type="text" asp-for="Quantidade" class="form-control" id="Quantidade" placeholder="" disabled="disabled">
        <span asp-validation-for="Quantidade" class="text-danger"></span>

    </div>
    <div class="mb-3">
        <label for="ClienteId" class="form-label">Cliente</label>
        <input type="text" asp-for="ClienteId" class="form-control" id="ClienteId" placeholder="" disabled="disabled">

        <span asp-validation-for="ClienteId" class="text-danger"></span>

    </div>
    <div class="mb-3">
        <label for="ProdutoId" class="form-label">Produto</label>
        <input type="text" asp-for="ProdutoId" class="form-control" id="ProdutoId" placeholder="" disabled="disabled">
        <span asp-validation-for="ProdutoId" class="text-danger"></span>

    </div>
    <div class="mb-3">
        <label for="LiberadoParaProducao" class="form-label">Liberado para Produção</label>
        <input type="checkbox" asp-for="LiberadoParaProducao" class="form-check-input" id="ProdutoId">
        <span asp-validation-for="LiberadoParaProducao" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-info"> Cadastrar </button>
</form>