@model IEnumerable<Domain.Produto>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Produtos";
}

<h2> Produtos </h2>


<div class="tabelas-produtos">
    <table class="table table-bordered table-content">
        <thead>
        <tr>
            <th> Id </th>
            <th> Nome </th>
        </tr>
        </thead>
        <tbody>
        @if (Model.Any())
        {
            @foreach(var produto in Model)
            {
                <tr>
                    <td> @produto.Id.ToString() </td>
                    <td> @produto.Nome </td>
                </tr>
            }
        }
        else
        {
            <p class="alert-info"> Nenhum produto encontrado .</p>
        }
        </tbody>
    </table>
</div>